@import 'reset.css';
@import 'common.css';

/* body */
body{
  font-family: 'TiemposHeadline', 'NanumGothic';
  max-width: 1920px;
  cursor: none;
  background: #fff;
}
::selection{
  background: rgba(204, 204, 204, 0.3);
}
body::-webkit-scrollbar{
  width: 5px;
  background: #fff;
}
body::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 20px;
}
a{
  cursor: none;
}


/* opening */
.opening{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}
.opening .gemstone{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.opening .gemstone img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.opening .gemstone.hidden{
  opacity: 0;
  visibility: hidden;
}


/* cursor */
.cursor{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  background-color: rgb(21 121 40);
  opacity: 0.5;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  pointer-events: none;
  mix-blend-mode: difference;
}


/* header */
header{
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.logo{
  display: block;
  width: 55px;
  height: 55px;
  background: #000;
  border-radius: 50%;
  position: relative;
}
.logo .logonames{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 25px;
  opacity: 0;
  visibility: hidden;
}
.logo .hv{
  opacity: 1;
  visibility: visible;
}
.logo:hover .hv{
  opacity: 0;
  visibility: hidden;
}
.logo:hover .up{
  opacity: 1;
  visibility: visible;
}

/* sc_01 */
.sc_01{
  height: 100vh;
  position: relative;
}
.sc_01 .text_box{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.sc_01 .text_box .title{
  display: inline-block;
  width: 80%;
  font-size: 85px;
}
.sc_01 .text_box .txt{
  margin-top: 45px;
  font-size: 20px;
}
.sc_01 .line{
  display: block;
  width: 1px;
  height: 224px;
  background: #000;
}
.sc_01 .sc01_model{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sc_01 .line{
  top: 105px;
}
.sc_01 .down_arrow{
  display: block;
  width: 162px;
  height: 297px;
  background: url(../img/arrow/pc_down.png) no-repeat;
  bottom: 0;
}
.sc_01 .spliteTitle.none{
  display: none;
}
.sc_01 .spliteTitle2.none{
  display: none;
}

/* sc_02 */
.sc_02{
  padding-top: 226px;
}
.sc_02 .ston_area{
  height: 90vh;
  background: url(../img/page2_bg.jpg) no-repeat;
  position: relative;
}
.sc_02 .sc02_list{}
.sc_02 .sc02_list::after{
  content: '';
  display: block;
  clear: both;
}
.sc_02 .sc02_item{
  height: 30vh;
  display: block;
  position: relative;
}
.sc_02 .sc02_item a{
  position: absolute;
}
.sc_02 .sc02_item.item1{
  width: 100%;
  /* background-color: lightcoral; */
}
.sc_02 .sc02_item.item1 a{
  left: 47%;
  top: -100px;
}
.sc_02 .sc02_item.item2{
  width: 50%;
  float: left;
  /* background-color: lightsalmon; */
}
.sc_02 .sc02_item.item2 a{
  right: 10%;
  top: -50px;
}
.sc_02 .sc02_item.item3{
  width: 50%;
  float: right;
  /* background-color: lightseagreen; */
}
.sc_02 .sc02_item.item3 a{
  left: 40%;
  top: -50px;
}
.sc_02 .sc02_item.item4{
  width: 50%;
  float: left;
  clear: both;
  /* background-color: lightyellow; */
}
.sc_02 .sc02_item.item4 a{
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
}
.sc_02 .sc02_item.item5{
  width: 50%;
  float: right;
  /* background-color: lightskyblue; */
}
.sc_02 .sc02_item.item5 a{
  right: 20%;
  bottom: -70px;
}

.sc_02 .sc02_item .img_wrap{
  position: relative;
  cursor: url(../img/cursor.png) 64 64, auto;
}
.sc_02 .sc02_item.item1 .img_wrap{
  width: 335px;
  height: 438px;
}
.sc_02 .sc02_item.item2 .img_wrap{
  width: 251px;
  height: 296px;
}
.sc_02 .sc02_item.item3 .img_wrap{
  width: 273px;
  height: 238px;
}
.sc_02 .sc02_item.item4 .img_wrap{
  width: 333px;
  height: 368px;
}
.sc_02 .sc02_item.item5 .img_wrap{
  width: 370px;
  height: 387px;
}
.sc_02 .sc02_item .img_wrap img{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc_02 .hover{
  display: block;
  width: 0;
  height: 83px;
  overflow: hidden;
  background: url(../img/rebbon.svg) no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-30%);
  z-index: 1;
  opacity: 0;
  transition: width ease-out 0.2s, opacity ease-out 0.2s;
}
.sc_02 .hover .title{
  display: block;
  font-size: 20px;
  margin: 15px 0 0 15px;
}
.sc_02 .hover .txt{
  font-size: 16px;
  margin-left: 15px;
}
.sc_02 .sc02_item .img_wrap:hover .hover{
  width: 264px;
  opacity: 1;
}

.sc_02 .ston_area .stonbg{
  position: absolute;
}
.sc_02 .ston_area .sb1{
  left: 467px;
  top: -10%;
  width: 258px;
  height: 217px;
}
.sc_02 .ston_area .sb2{
  right: 145px;
  top: -30%;
  width: 249px;
  height: 429px;
}
.sc_02 .ston_area .sb3{
  left: 100px;
  top: 10%;
  width: 386px;
  height: 410px;
}
.sc_02 .ston_area .sb4{
  left: 50%;
  bottom: 10%;
  width: 193px;
  height: 215px;
  
}
.sc_02 .ston_area .stonbg img{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc_02 .text_area{
  padding: 261px 0 0 245px;
  position: relative;
  height: 85vh;
}
.sc_02 .txtwrap{
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.sc_02 .txtwrap.on{
  position: initial;
  opacity: 1;
  visibility: visible;
}
.sc_02 .txtwrap .cate{
  font-size: 20px;
  margin-bottom: 40px;
}
.sc_02 .txtwrap .title{
  display: block;
  font-size: 70px;
  margin-bottom: 50px;
  width: 65%;
}
.sc_02 .txtwrap .txt{
  font-size: 16px;
  line-height: 35px;
  width: 55%;
}

.sc_02 .love{
  position: relative;
}
.sc_02 .love .img_wrap{
  width: 20%;
  height: 550px;
  transition: transform ease-in-out 0.5s;
  transform: rotate(20deg);
  transform-style: preserve-3d;
  cursor: url(../img/cursor.png) 64 64, auto;
  position: absolute;
  top: 25%;
  right: 200px;
}
.sc_02 .love .img_wrap.reverse{
  transform: rotate(10deg) rotateY(180deg);
}
.sc_02 .love .img_wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.sc_02 .love .img_wrap .back{
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.1s;
  transition-delay: 0.2s;
}
.sc_02 .love .img_wrap.reverse .back{
  opacity: 1;
  transition: opacity 0.1s;
  transition-delay: 0.2s;
}

.sc_02 .sc02_list .mo_ston{
  opacity: 0;
  visibility: hidden;
}
.sc_02 .mo_love{
  opacity: 0;
  visibility: hidden;
  position: relative;
}

.sc_02 .mo_love_cont{}
.sc_02 .mo_love_cont .mo_img_wrap{
  width: 350px;
  height: 506px;
  margin: 0 auto;
  position: relative;
  cursor: url(../img/cursor.png) 64 64, auto;
  transform-style: preserve-3d;
  transition: transform ease-in-out 0.5s;
}
.sc_02 .mo_love_cont .mo_img_wrap.reverse{
  transform: rotateY(180deg);
}
.sc_02 .mo_love_cont .mo_img_wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.sc_02 .mo_love_cont .mo_img_wrap .back{
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.1s;
  transition-delay: 0.2s;
}
.sc_02 .mo_love_cont .mo_img_wrap.reverse .back{
  opacity: 1;
  transition: opacity 0.1s;
  transition-delay: 0.2s;
}
.sc_02 .mo_love .mo_slide_btn{
  position: absolute;
  bottom: 0;
  display: block;
  width: 258px;
  height: 83px;
  z-index: 1;
}
.sc_02 .mo_love .mo_p{
  left: 0;
  background: url(../img/arrow/mo_slide_l.png) no-repeat;
  background-size: 100% 100%;
}
.sc_02 .mo_love .mo_n{
  right: 0;
  background: url(../img/arrow/mo_slide_r.png) no-repeat;
  background-size: 100% 100%;
}
.sc_02 .mo_love .mo_slide_btn.swiper-button-disabled{
  opacity: 0;
}


/* sc_03 */
.sc_03{
  background: #f7f7f7;
  padding: 135px 245px 250px 245px;
}
.sc_03 .cont_head{
  overflow: hidden;
  margin-bottom: 110px;
}
.sc_03 .cont_head .title{
  font-size: 70px;
}
.sc_03 .cont_head .txt{
  font-size: 16px;
  font-family: 'NanumGothic';
  width: 440px;
  line-height: 25px;
  margin-top: 10px;
}

.sc_03 .swiper_box{
  position: relative;
}
.sc_03 .pf_wrap{
  width: 100%;
  height: 75vh;
}
.sc_03 .pf_cont{
  position: relative;
}
.sc_03 .pf_cont a{
  display: block;
  height: 100%;
  cursor: url(../img/cursor.png) 64 64, auto;
}
.sc_03 .pf_cont .img_wrap{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.sc_03 .pf_cont .img_wrap::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.sc_03 .pf_cont .img_wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% top;
  transform: scale(1.2);
  transition: transform ease-in-out 1s;
  transition-delay: 0.5s;
}
.sc_03 .pf_cont .img_wrap img.img_rb{
  object-position: right bottom;
}
.sc_03 .pf_cont.swiper-slide-active .img_wrap img{
  transform: scale(1);
}

.sc_03 .pf_cont .text_box{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  color: #fff;
  background: linear-gradient(to left,rgba(0,0,0,0) 0%,rgba(0,0,0,.62) 78%,rgba(0,0,0,.8) 100%);
  padding: 70px 0 0 70px;
}
.sc_03 .pf_cont .text_box .head{}
.sc_03 .pf_cont .head .title{
  display: block;
  font-size: 60px;
  margin-bottom: 10px;
}
.sc_03 .pf_cont .head .title_assis{
  font-family: 'NanumGothic';
  font-size: 16px;
}
.sc_03 .pf_cont .cont{
  margin-top: 70px;
}
.sc_03 .pf_cont .cont .time{
  display: block;
  font-size: 25px;
  margin-bottom: 15px;
}
.sc_03 .pf_cont .cont .txt{
  font-family: 'NanumGothic';
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 23px;
}

.sc_03 .swiper_box .controls{}
.sc_03 .swiper_box .slide_btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 162px;
  height: 162px;
  z-index: 1;
}
.sc_03 .swiper_box .slide_btn.prev{
  background: url(../img/arrow/pc_l.png) no-repeat;
  background-size: cover;
  left: -15%;
}
.sc_03 .swiper_box .slide_btn.next{
  background: url(../img/arrow/pc_r.png) no-repeat;
  background-size: cover;
  right: -15%;
}
.sc_03 .swiper_box .swiper-pagination{
  position: absolute;
  top: -55px;
  right: 0;
  left: auto;
  bottom: auto;
  width: auto;
}
.sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet{
  width: 50px;
  height: auto;
  border-radius: 50%;
  color: #000;
  background: transparent;
  opacity: 1;
  font-size: 16px;
  margin: 0 0 0 20px;
  line-height: 45px;
  position: relative;
}
.sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 56%;
  left: 46px;
  transform: translateY(-50%);
  width: 29px;
  height: 1px;
  background: #000;
}
.sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet:last-child::after{
  width: 0;
}
.sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet-active{
  height: 50px;
  background: #000;
  color: #fff;
}
.sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet-active::after{
  top: 51%;
}


/* footer */
footer{
  height: 100vh;
  background: #0c0c0c;
  color: #fff;
  position: relative;
  overflow: hidden;
}
footer .text_wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
footer .text_wrap .title{
  font-size: 85px;
  margin-bottom: 50px;
}
footer .text_wrap .cate{
  font-size: 50px;
  margin-bottom: 10px;
}

footer .text_wrap .mali{
  display: inline-block;
}
footer .text_wrap .mali .mali_copy{
  display: inline-block;
  border: none;
  outline: none;
  font-family: 'NanumGothic';
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  padding-left: 32px;
  margin-bottom: 30px;
  cursor: none;
}

footer .text_wrap .txt{
  font-family: 'NanumGothic';
  font-size: 18px;
  margin-top: 10px;
}
footer .copy{
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 16px;
}



@media screen and (max-width: 1536px){
  .sc_01 .text_box .txt{
    font-size: 16px;
  }
  .sc_01 .text_box .title{
    font-size: 70px;
  }
  .sc_01 .line{
    height: 160px;
  }
  .sc_01 .down_arrow {
    width: 83px;
    height: 258px;
    background: url(../img/arrow/mo_down.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
  }
  .sc_02 {
    padding-top: 156px;
  }
  .sc_02 .ston_area .sb2 {
    right: 60px;
    top: -30%;
    width: 209px;
    height: 359px;
  }
  .sc_02 .sc02_item.item1 a {
    left: 49%;
    top: -130px;
  }
  .sc_02 .sc02_item.item1 .img_wrap {
    width: 290px;
    height: 380px;
  }
  .sc_02 .ston_area .sb3 {
    left: 50px;
    top: 10%;
    width: 326px;
    height: 346px;
  }
  .sc_02 .ston_area .sb1{
    left: 407px;
  }
  .sc_02 .sc02_item.item3 a {
    left: 42%;
    top: -86px;
  }
  .sc_02 .sc02_item.item3 .img_wrap {
    width: 243px;
    height: 212px;
  }
  .sc_02 .ston_area .sb4 {
    width: 170px;
    height: 190px;
  }
  .sc_02 .sc02_item.item2 a {
    right: 7%;
    top: -28px;
  }
  .sc_02 .sc02_item.item2 .img_wrap {
    width: 201px;
    height: 237px;
  }
  .sc_02 .sc02_item.item4 .img_wrap {
    width: 283px;
    height: 313px;
  }
  .sc_02 .sc02_item.item5 .img_wrap {
    width: 340px;
    height: 356px;
  }
  .sc_02 .text_area{
    padding: 190px 0 0 190px;
  }
  .sc_02 .love .img_wrap{
    width: 20%;
    height: 69%;
    top: 23%;
    right: 140px;
  }
  .sc_02 .txtwrap .title{
    font-size: 50px;
  }
  .sc_03{
    padding: 120px 190px 200px 190px;
  }
  .sc_03 .cont_head{
    margin-bottom: 70px;
  }
  .sc_03 .cont_head .title{
    font-size: 50px;
  }
  .sc_03 .pf_wrap {
    width: 100%;
    height: 80vh;
  }
  .sc_03 .pf_cont .head .title{
    font-size: 40px;
  }
  .sc_03 .pf_cont .cont .time{
    font-size: 20px;
  }
  .sc_03 .swiper_box .slide_btn{
    width: 140px;
    height: 140px;
  }
  .sc_03 .swiper_box .slide_btn.prev,
  .sc_03 .swiper_box .slide_btn.next{
    background-size: 100% 100%;
  }
  footer .text_wrap .title{
    font-size: 50px;
  }
  footer .text_wrap .cate{
    font-size: 35px;
  }
}



@media screen and (max-width: 1600px){
  /* .sc_02 .love .img_wrap{
    height: 460px;
  } */
}



@media screen and (max-width: 1280px){
  .sc_01 .text_box .txt{
    margin-top: 35px;
  }
  .sc_02 {
    padding-top: 100px;
  }
  .sc_02 .sc02_item.item1 .img_wrap {
    width: 250px;
    height: 327px;
  }
  .sc_02 .ston_area .sb1 {
    left: 287px;
    width: 208px;
    height: 175px;
  }
  .sc_02 .ston_area .sb3{
    width: 300px;
    height: 319px;
  }
  .sc_02 .sc02_item.item3 a {
    left: 31%;
  }
  .sc_02 .sc02_item.item3 .img_wrap {
    width: 203px;
    height: 177px;
  }
  .sc_02 .ston_area .sb4 {
    width: 130px;
    height: 145px;
    left: 48%;
    bottom: 20%;
  }
  .sc_02 .sc02_item.item5 a {
    right: 23%;
    bottom: -35px;
  }
  .sc_02 .sc02_item.item5 .img_wrap {
    width: 280px;
    height: 293px;
  }
  .sc_02 .sc02_item.item4 a{
    bottom: -10px;
  }
  .sc_02 .sc02_item.item4 .img_wrap {
    width: 223px;
    height: 246px;
  }
  .sc_02 .text_area {
    padding: 120px 0 0 100px;
  }
  .sc_02 .love .img_wrap{
    width: 25%;
    top: 18%;
    right: 123px;
  }
  .sc_03 {
    padding: 110px 100px 200px 100px;
  }
  .sc_03 .swiper_box .slide_btn {
    width: 70px;
    height: 70px;
  }
  .sc_03 .swiper_box .slide_btn.prev{
    left: -8%;
  }
  .sc_03 .swiper_box .slide_btn.next{
    right: -8%;
  }
}



@media screen and (max-width: 1176px){
  body{
    cursor: auto;
  }
  .cursor{
    display: none;
  }
  a{
    cursor: pointer;
  }
  .sc_01 .text_box .title {
    font-size: 50px;
  }
  .sc_02 .sc02_list .pc_ston{
    opacity: 0;
    visibility: hidden;
  }
  .sc_02 .sc02_list .mo_ston{
    opacity: 1;
    visibility: visible;
  }
  .sc_02 .sc02_item.item1 .img_wrap{
    height: 321px;
  }
  .sc_02 .sc02_item.item2 .img_wrap {
    height: 248px;
  }
  .sc_02 .sc02_item.item3 .img_wrap{
    height: 175px;
  }
  .sc_02 .sc02_item.item4 .img_wrap {
    width: 216px;
    height: 244px;
  }
  .sc_02 .sc02_item.item5 .img_wrap {
    width: 280px;
    height: 250px;
  }
  .sc_02 .text_area {
    padding: 100px 100px 0 100px;
  }
  .sc_02 .love > .text_box {
    display: none;
  }
  .sc_02 .love > .img_wrap {
    display: none;
  }
  .sc_02 .mo_love{
    opacity: 1;
    visibility: visible;
  }

  .sc_03 .cont_head{
    overflow: initial;
    margin-bottom: 100px;
  }
  .sc_03 .cont_head .title{
    float: none;
  }
  .sc_03 .swiper_box .controls{
    position: absolute;
    top: -55px;
    left: 0;
  }
  .sc_03 .swiper_box .slide_btn {
    position: absolute;
    top: 0;
    bottom: auto;
    transform: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .sc_03 .swiper_box .slide_btn.prev{
    background: #fff url(../img/arrow/mo_l.png) no-repeat;
    background-size: 100% 100%;
    left: auto;
  }
  .sc_03 .swiper_box .slide_btn.next{
    background: #fff url(../img/arrow/mo_r.png) no-repeat;
    background-size: 100% 100%;
    right: auto;
    left: 55px;
  }
}


@media screen and (max-width: 1100px){
  .sc_02 {
    padding-top: 140px;
  }
  .sc_02 .ston_area{
    height: 100vh;
  }
  .sc_02 .ston_area .sb2 {
    right: 40px;
    top: -20%;
  }
  .sc_02 .sc02_item.item1 a {
    left: 44%;
    top: -84px;
  }
  .sc_02 .ston_area .sb1{
    left: 157px;
    top: -4%;
  }
  .sc_02 .sc02_item.item2 a{
    right: 22%;
  }
  .sc_02 .sc02_item.item3 a{
    top: -26px;
  }
  .sc_02 .ston_area .sb4{
    left: 51%;
    bottom: 40%;
  }
  .sc_02 .sc02_item.item4 a{
    bottom: -50px;
    left: 70%;
  }
  .sc_02 .ston_area .sb3 {
    width: 250px;
    height: 266px;
    left: 30px;
    top: 50%;
  }
  .sc_02 .txtwrap .title{
    line-height: 60px;
  }
  .sc_03 .pf_cont .img_wrap{
    height: 80vh;
  }
}


@media screen and (max-width: 800px){
  .logo a{
    width: 50px;
    height: 50px;
  }
  .sc_01 .line {
    top: 94px;
    height: 130px;
  }
  .sc_01 .text_box .title{
    line-height: 60px;
  }
  .sc_01 .down_arrow{
    width: 64px;
    height: 198px;
    opacity: 1;
  }
  .sc_02 .ston_area {
    height: 130vh;
  }
  .sc_02 .ston_area .sb2 {
    right: -20px;
    width: 159px;
    height: 274px;
  }
  .sc_02 .ston_area .sb1{
    left: 57px;
  }
  .sc_02 .sc02_item{
    height: 33vh;
  }
  .sc_02 .sc02_item.item2,
  .sc_02 .sc02_item.item3{
    width: 100%;
    float: initial;
  }
  .sc_02 .sc02_item.item2 a {
    right: auto;
    left: 14%;
    top: -47px;
  }
  .sc_02 .sc02_item.item2 .img_wrap{
    width: 214px;
    height: 264px;
  }
  .sc_02 .ston_area .sb4{
    left: auto;
    right: 13%;
    bottom: 58%;
    width: 176px;
    height: 194px;
  }
  .sc_02 .ston_area .sb3 {
    width: 292px;
    height: 310px;
    left: 2px;
    top: 49%;
  }
  .sc_02 .sc02_item.item3 a {
    left: auto;
    right: 20%;
  }
  .sc_02 .sc02_item.item3 .img_wrap{
    width: 253px;
    height: 218px;
  }
  .sc_02 .sc02_item.item4 .img_wrap{
    height: 235px;
  }
  .sc_02 .text_area {
    padding: 130px 50px 0 50px;
    height: 110vh;
  }
  .sc_02 .txtwrap .cate{
    font-size: 18px;
  }
  .sc_02 .txtwrap .title{
    width: 80%;
  }
  .sc_02 .txtwrap .txt{
    width: 75%;
  }
  .sc_02 .mo_love_cont .mo_img_wrap{
    margin: 0 auto 100px;
  }
  .sc_03 {
    padding: 110px 50px 200px 50px;
  }
}


@media screen and (max-width: 700px){
  .sc_02 .hover{
    display: none;
  }
  .sc_02 .ston_area .sb2{
    right: 0;
    top: -8%;
    width: 109px;
    height: 188px;
  }
  .sc_02 .sc02_item.item1 a{
    left: 38%;
  }
  .sc_02 .ston_area .sb1{
    width: 185px;
    height: 157px;
    left: 25px;
    top: -4%;
  }
  .sc_02 .sc02_item.item2 a{
    left: 10%;
    top: -30px;
  }
  .sc_02 .ston_area .sb4{
    right: 8%;
    bottom: 53%;
  }
  .sc_02 .sc02_item.item3 a{
    right: 12%;
    top: 0px;
  }
  .sc_02 .sc02_item.item5 a {
    right: 13%;
    bottom: -15px;
  }
  .sc_02 .sc02_item.item4 a{
    bottom: -50px;
    left: 52%;
  }
  .sc_02 .sc02_item.item4 .img_wrap{
    width: 180px;
    height: 203px;
  }
  .sc_03 .pf_cont .text_box{
    padding: 30px 0 0 30px;
  }
  footer .copy{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 640px){
  .sc_01 .text_box .title {
    line-height: 50px;
    font-size: 40px;
  }
  .sc_01 .text_box .txt {
    margin: 35px auto 0 auto;
    width: 80%;
  }
  .sc_02 {
    padding-top: 100px;
  }
  .sc_02 .sc02_item {
    height: 30vh;
  }
  .sc_02 .ston_area .sb1{
    width: 145px;
    height: 122px;
  }
  .sc_02 .sc02_item.item1 .img_wrap{
    width: 200px;
    height: 257px;
  }
  .sc_02 .sc02_item.item2 a{
    top: -55px;
    left: 13%;
  }
  .sc_02 .sc02_item.item2 .img_wrap {
    width: 194px;
    height: 239px;
  }
  .sc_02 .ston_area .sb4{
    width: 126px;
    height: 140px;
    bottom: 71%;
  }
  .sc_02 .sc02_item.item3 a {
    top: -110px;
    right: 8%;
  }
  .sc_02 .sc02_item.item3 .img_wrap {
    width: 223px;
    height: 192px;
  }
  .sc_02 .ston_area .sb3{
    width: 222px;
    height: 236px;
    left: 2px;
    top: 42%;
  }
  .sc_02 .sc02_item.item5 .img_wrap {
    width: 230px;
    height: 205px;
  }
  .sc_02 .sc02_item.item5 a {
    right: 3%;
    bottom: 38px;
  }
  .sc_02 .text_area{
    padding: 100px 30px 0 30px;
  }
  .sc_02 .txtwrap .title{
    width: 90%;
    line-height: 50px;
    font-size: 40px;
    margin-bottom: 35px;
  }
  .sc_02 .txtwrap .txt {
    width: 85%;
    line-height: 35px;
  }
  .sc_03 {
    padding: 70px 30px 200px 30px;
  }
  .sc_03 .cont_head .title {
    font-size: 40px;
  }
  .sc_03 .pf_cont .text_box {
    padding: 30px 0 0 30px;
  }
  .sc_03 .pf_cont .img_wrap {
    height: 75vh;
  }
  footer .text_wrap .title {
    font-size: 40px;
  }
  footer .text_wrap .cate {
    font-size: 30px;
  }
  footer .copy{
    font-size: 13px;
  }
}

@media screen and (max-width: 580px){
  .sc_03 .swiper_box .swiper-pagination {
    position: absolute;
    top: -75px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    width: 100%;
  }
  .sc_03 .swiper_box .controls {
    position: absolute;
    top: auto;
    left: auto;
    bottom: -10px;
    right: 103px;
  }
}

@media screen and (max-width: 499px){
  .sc_01 .text_box .title {
    line-height: 35px;
    font-size: 30px;
  }
  .sc_01 .text_box .txt{
    margin: 25px auto 0 auto;
    line-height: 23px;
  }
  .sc_01 .line{
    height: 70px;
  }
  .sc_01 .down_arrow {
    width: 48px;
    height: 148px;
  }
  .sc_02 .ston_area .sb2{
    width: 79px;
    height: 136px;
  }
  .sc_02 .ston_area .sb1 {
    width: 105px;
    height: 88px;
    left: 2px;
    top: -2%;
  }
  .sc_02 .sc02_item.item1 .img_wrap {
    width: 150px;
    height: 193px;
  }
  .sc_02 .sc02_item.item1 a{
    left: 32%;
    top: 6px;
  }
  .sc_02 .sc02_item.item2 a {
    top: 0;
    left: 0px;
  }
  .sc_02 .sc02_item.item2 .img_wrap {
    width: 157px;
    height: 194px;
  }
  .sc_02 .ston_area .sb4{
    width: 86px;
    height: 96px;
    bottom: 65%;
  }
  .sc_02 .sc02_item.item3 a {
    top: -93px;
    right: 2px;
  }
  .sc_02 .sc02_item.item3 .img_wrap {
    width: 153px;
    height: 132px;
  }
  .sc_02 .ston_area .sb3 {
    width: 190px;
    height: 202px;
    left: 20px;
    top: 47%;
  }
  .sc_02 .sc02_item.item5 a {
    right: 2px;
    bottom: -14px;
  }
  .sc_02 .sc02_item.item5 .img_wrap {
    width: 180px;
    height: 160px;
  }
  .sc_02 .sc02_item.item4 a {
    bottom: -96px;
    left: 50%;
  }
  .sc_02 .sc02_item.item4 .img_wrap {
    width: 140px;
    height: 158px;
  }
  .sc_02 .text_area {
    padding: 100px 15px 0 15px;
    height: 120vh;
  }
  .sc_02 .txtwrap .cate {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .sc_02 .txtwrap .title{
    line-height: 40px;
    font-size: 32px;
    margin-bottom: 25px;
  }
  .sc_02 .mo_love_cont .mo_img_wrap{
    width: 100%;
    height: 404px;
  }
  .sc_02 .mo_love .mo_slide_btn{
    width: 158px;
    height: 51px;
  }
  .sc_03 {
    padding: 50px 0 130px 0;
  }
  .sc_03 .cont_head{
    margin: 0 15px 100px 15px;
  }
  .sc_03 .cont_head .title {
    font-size: 32px;
  }
  .sc_03 .pf_cont .tag{
    font-size: 16px;
  }
  .sc_03 .cont_head .txt{
    width: 100%;
    font-size: 15px;
    line-height: 23px;
  }
  .sc_03 .pf_cont .text_box {
    padding: 15px 0 0 15px;
  }
  .sc_03 .pf_cont .head .title {
    font-size: 25px;
  }
  .sc_03 .pf_cont .cont .time {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .sc_03 .pf_cont .cont .txt{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
  .sc_03 .swiper_box .slide_btn{
    width: 50px;
    height: 50px;
    bottom: -60px;
  }
  .sc_03 .swiper_box .controls{
    right: 105px;
  }
  .sc_03 .swiper_box .slide_btn{
    width: 40px;
    height: 40px;
  }
  .sc_03 .swiper_box .slide_btn.prev{
    left: 10px;
  }
  .sc_03 .pf_wrap{
    height: 100vh;
  }
  .sc_03 .pf_cont .img_wrap {
    height: 100vh;
  }
  .sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet{
    width: 35px;
    font-size: 14px;
    margin: 0 0 0 10px;
    line-height: 35px;
  }
  .sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet:first-child{
    margin-left: 0;
  }
  .sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet-active{
    height: 35px;
  }
  .sc_03 .swiper_box .swiper-pagination .swiper-pagination-bullet::after{
    width: 0;
  }
  .sc_03 .pf_cont .head .title_assis{
    font-size: 15px;
  }
  .sc_03 .pf_cont .cont {
    margin-top: 50px;
  }
}